.client {
  display: flex;

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .name {
      font-size: x-large;
    }

    .date {
      display: flex;
      width: 105%;
      justify-content: space-between;
    }
  }
}
