@import '../../../styles/colors';
@import '../../../styles/shadows';
@import '../../../styles/spacing';

.button {
    background: map-get($colors, "orangeade");
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    box-shadow: map-get($shadows, "box-small");

    &:active {
      background: map-get($colors, "mustard");
    }
  }