@import "../../../styles/colors";
@import "../../../styles/shadows";
@import "../../../styles/spacing";
@import "../../../styles/general";

.button {
  background: map-get($colors, "orangeade");
  border-radius: map-get($spacing, "s");
  padding: map-get($spacing, "s");
  margin: map-get($spacing, "xs") 0;

  cursor: pointer;
  width: 100%;
  box-shadow: map-get($shadows, "box-small");

  &:active {
    background: map-get($colors, "mustard");
  }

  &[disabled] {
    @include element-disabled;
  }
}
