@import '../../../styles/colors';

.layout {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: map-get($colors, "white");
}

.nav {
  display: flex;
  align-self: flex-end;

  a {
    padding: 7px;
    border-radius: 5px 5px 0 0;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px 0 0 0;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 1px 4px map-get($colors, "black");
}

.background1 {
  background: map-get($colors, "green");
}

.background2 {
  background: map-get($colors, "light-green");
}

.background3 {
  background: map-get($colors, "white-green");
}

.background4 {
  background: map-get($colors, "blue");
}

.background5 {
  background: map-get($colors, "light-mustard");
}

.background6 {
  background: map-get($colors, "mustard");
}

.background7 {
  background: map-get($colors, "orangeade");
}
