@import '../../../styles/colors';
@import '../../../styles/spacing';
@import '../../../styles/shadows';

.layout {
  width: 100vw;
  height: 100vh;
  padding: map-get($spacing, "l");

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: map-get($colors, "white");
}

.logoWrapper {
  padding: map-get($spacing, "xs");
  box-shadow: map-get($shadows, "box-small");
  border-radius: map-get($spacing, "s");
  margin: map-get($spacing, "l");
  display: inline-block;
}

.nav {
  display: flex;
  align-self: flex-end;

  a {
    // padding: 7px;
    padding: map-get($spacing, "xs");
    margin-left: map-get($spacing, "xs");
    // border-radius: 5px 5px 0 0;
    border-radius: map-get($spacing, "s") map-get($spacing, "s") 0 0;
    box-shadow: map-get($shadows, "box-small");
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: map-get($spacing, "l");
  // border-radius: 5px 0 0 0;
  border-radius: map-get($spacing, "s") 0 0 0;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  // border-radius: 0 0 1rem 1rem;
  border-radius: 0 0 map-get($spacing, "s") map-get($spacing, "s");
  // box-shadow: 0 1px 4px map-get($colors, "black");
}

.background1 {
  background: map-get($colors, "green");
}

.background2 {
  background: map-get($colors, "light-green");
}

.background3 {
  background: map-get($colors, "white-green");
}

.background4 {
  background: map-get($colors, "blue");
}

.background5 {
  background: map-get($colors, "light-mustard");
}

.background6 {
  background: map-get($colors, "mustard");
}

.background7 {
  background: map-get($colors, "orangeade");
}
