@tailwind base;
@tailwind components;
@tailwind utilities;
@import './colors';

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  @apply ring-orangeade;
  @apply border-gray;
  @apply font-sans;
  @apply transition-all;
  @apply duration-100;
  @apply font-medium;
  @apply text-base;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  cursor: default;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.mainColorBg1 { @apply bg-light-mustard }
.mainColorBg2 { @apply bg-green }
.mainColorBg3 { @apply bg-light-green }
.mainColorBg4 { @apply bg-white-green }
.mainColorBg5 { @apply bg-blue }
.mainColorBg6 { @apply bg-mustard }
.mainColorBg7 { @apply bg-orangeade }
.mainColorBorder1 { @apply border-light-mustard border-8 }
.mainColorBorder2 { @apply border-green border-8 }
.mainColorBorder3 { @apply border-light-green border-8 }
.mainColorBorder4 { @apply border-white-green border-8 }
.mainColorBorder5 { @apply border-blue border-8 }
.mainColorBorder6 { @apply border-mustard border-8 }
.mainColorBorder7 { @apply border-orangeade border-8 }